@page
@model Muntean_Radu_Lab2.Pages.Authors.DetailsModel

<h1>Author Details</h1>

<dl class="row">
    <dt class="col-sm-2">First Name</dt>
    <dd class="col-sm-10">@Model.Author.FirstName</dd>
    <dt class="col-sm-2">Last Name</dt>
    <dd class="col-sm-10">@Model.Author.LastName</dd>
</dl>

<p>
    <a asp-page="./Edit" asp-route-id="@Model.Author.ID">Edit</a> |
    <a asp-page="./Index">Back to list</a>
</p>